@charset "ISO-8859-1";

#section1
{
	
}
#section1 a
{
	
}
#section1 i
{
	font-size:20px;
}
#section2
{
	background-color:#e7edee;
	padding-bottom:100px;
}

#section3
{
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
#section3 i
{
	padding-right: 10px;
}
#section3 .btn1
{
	background-color: #128e73;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 270px;
	height: 45px;
	font-size: 18px;
}
#section4 ul li
{
	list-style: none;
	padding-bottom: 8px;
}
#section4 ul li a
{
	color: #0074ba;
}
#section5 ul li a
{
	color: #0074ba;
}
#section5 ul li
{
	list-style: none;
	padding-bottom: 3px;
}
#section5 ul li a:hover
{
	text-decoration: none;
}
#section5  a:hover
{
	text-decoration: none;
}
#section5 h5
{
	float: left;
	font-weight: bold;
	margin-left: 40px;
}
#section5 img
{
	height: 45px;
}